body{
	font-family: Georgia !important;
	text-align:center;
}
.ui-link{
	color:white;
}
a {
	color:white !important;
	
}
.ui-mobile .ui-page
{
	background: url(beach.jpg) no-repeat;
}
.ui-bar-a
{
	text-align:center;
}
.ui-bar-b{
	height: 1.3rem;
	padding-top: 1rem;
	text-align: center;
}
.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
	width: 20%;
}
.ui-grid-b>.ui-block-b {
	width: 60%;
}	
.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
	width: 20%;
}
.ui-grid-b>.ui-block-b {
	width: 60%;
}	
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 {
	display: content !important;
}
#box
{margin-top: 0.7rem;
	border-radius: 23px;
	justify-content: center;
	align-items: center;
	height: 4rem;
	display: flex;
}
#slider1{
	margin-top: -0.8rem;	
	
}
#demo{
	margin:auto;
	text-align: center;
	font-size: 1.1rem;
	color: #230e18;
	display:flex;
}
#demo1,#demo2,#demo3{
	margin:auto;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
#demo2{
	padding: 5px 13px;
	background-color: #e22d39;
	border-radius: 23px;
	color: white;
	text-shadow: 0 0 black;
	display:none;
}		
h1{
	color:#35e5f7;
	margin-block-start: -0.6em;
}
#next,#next1,#prev{
	background-color:tomato;
	color:white;
	font-size: 1.5rem;
	width: 6rem;
	margin-right: auto;
	margin-left: auto;
	border: 4px solid gold;
	border-radius: 8px;
	text-shadow: 0 0 black;
	font-family: Georgia !important;
}
#prev{
	background-color:SkyBlue;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}
#next,#next1{
	width: 25rem;
}
#enter{
	text-align:center;
	font-size:1.5rem;
	font-family: Georgia !important;
	width: 25rem;
}
h3{
	font-size: 1.8vw;
}
#answer3{
	position: absolute;
	height:10rem;
	border-radius: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	color: black;
	display: flex;
}
#answer1{
	margin:auto;
	font-size: 1.2rem;
	height: 2.3rem;
	color:#ab3e3e;
	text-shadow: 0 0 black;
}
#ask
{
	margin:auto;
	margin-top: -0.5rem;
}
#ask,#add{
	display:none;
	background-color: #ce2406;
	height: 3rem;
	width: 16rem;
	font-size: 1rem;
}
#add{
	color:#ace4ac;
	margin-top: 1rem;
}
#my_ans{
	height:2rem;
}
#answer{
	font-size:2rem;
	color:green;
	background-color:gold;
    margin-top: -0.3rem;
}
#answer2{
	color:#f55306;
	font-size:2.2vw;
    margin-top: -0.3rem;
}
h5{
	color:white;
	font-size: 2rem;
	text-shadow: 0 0 black;
}
#answer3,#add2,#input{
	color:gold;
	font-size:1rem;
	text-align: left;
}
#add2{
	text-shadow: 0 0 #f40000;	
	color: #174755;
	font-size: 1.1rem;	
}
@media (min-width: 240px ) and (max-width: 414px) {
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width:96%;
	}	
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width: 96%;
	}
	h1 {
		font-size: 1.5rem;
	}
	#box{
		height: 6.5rem;
	}
	#demo{
		display: block;
	}
	div[id^="demo"]{
		font-size: 0.9rem;
	}
	#enter {
		font-size: 1rem;
	}
	#next {
		width: 12rem;
		font-size: 0.9rem;
	}
	#ask {
		width: 12rem;
	}
	#add {
		font-size: 0.8rem;
		width: 12.8rem;
	}
	#add2{
		font-size: 0.8rem;
	}
	#answer{
		font-size: 1.2rem!important;
	}
	#answer1,#answer2{
		font-size: 1rem;
		color: white;
	}
}
@media (min-width: 300px ) and (max-width: 414px) {
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width:96%;
	}	
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width: 96%;
	}
	#next, #prev {
		font-size: 1.2rem;
	}	
	#next {
		width: 15rem;
	}
	#enter {
		font-size: 1rem;
		width: 16rem;
	}
	#demo{
		display: grid;
	}
	div[id^="demo"]{
		font-size: 0.9rem !important;
	}
	#answer2 {
		font-size: 1.2rem;
	}
	#answer{
		font-size: 1.4em !important;
	}
	#answer1 {
		font-size: 1rem;
		color:white;
	}
	#box {
		height: 6.5rem;
	}
}
@media (min-width: 500px ) and (max-width: 739px) {
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width:96%;
	}	
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 2%;
	}
	.ui-grid-b>.ui-block-b {
		width: 96%;
	}
	
	#box{
		padding-right: 2em;
		width: 32rem;
		margin-left: -1rem;
	}
	.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 {
		display: -webkit-inline-box;
	}
	div[id^="demo"]{
		font-size: 0.9rem !important;
		padding-left: 0.2rem !important;
		padding-right: 0.2rem !important;
	}
	#answer1{
		color:white;
	}
	#answer2{
		font-size:1rem;
	}
}
@media (min-width: 740px ) and (max-width: 800px) {
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 10%;
	}
	.ui-grid-b>.ui-block-b {
		width:80%;
	}	
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 10%;
	}
	.ui-grid-b>.ui-block-b {
		width: 80%;
	}
	
	#next {
		width: 19rem;
	}
}
@media (min-width:801px ) and (max-width: 1112px) {
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 10%;
	}
	.ui-grid-b>.ui-block-b {
		width:80%;
	}	
	.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-c {
		width: 10%;
	}
	.ui-grid-b>.ui-block-b {
		width: 80%;
	}
	
	#next {
		width: 19rem;
	}
}

